<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WİNDOWS_QR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WİNDOWS_QR.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value>1233</value>
            </setting>
            <setting name="servername" serializeAs="String">
                <value />
            </setting>
            <setting name="serverpassword" serializeAs="String">
                <value>1233</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="secuirtycode" serializeAs="String">
                <value />
            </setting>
            <setting name="timehr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="timemt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="file_transfer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="win_Auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="screen_streaming" serializeAs="String">
                <value>False</value>
            </setting>
        </WİNDOWS_QR.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
